<link href="{{ "/css/style.css" | absURL }}?h={{printf .GitInfo.Hash}}" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="icon" href="https://www.gravatar.com/avatar/5e4575fdaacc879dc2199490417d170a?s=16" />
<link rel="pingback" href="https://webmention.io/www.frederikcreemers.be/xmlrpc" />
<link rel="webmention" href="https://webmention.io/www.frederikcreemers.be/webmention" />